version: '2'
services: 
  hub:
    image: selenium/hub:2.53.0
    ports:
      - "4444:4444"
  firefox:
    image: selenium/node-firefox:2.53.0
    depends_on:
      - hub
    environment:
      - HUB_PORT_4444_TCP_ADDR=hub
      - HUB_PORT_4444_TCP_PORT=4444
    extra_hosts:
      - "dev.cl.uk.wonga.com:52.56.82.66"